body {
    margin: 0;
    font: Arial;
}

h1 {
    font-family: monospace;
    color: dodgerblue;
}

h3 {
    font-family: monospace;
    color: indigo;
}

span {
    font-family: Arial;
    color: dimgray;
    font-size: 18px;   
}

.destaque {
    background-color: yellow;
}

.destaque span {
    background-color: blueviolet;
}
#destaqueEspecial {
    background-color: aquamarine;
}